DB_URL=
DB_USERNAME=
DB_PASSWORD=

SERVER_PORT=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

CURRENCY_API_KEY=
CURRENCY_API_URL=

LOGISTICS_API_KEY=
LOGISTICS_API_URL=
LOGISTICS_COST_PER_KM_USD=
LOGISTICS_ESTIMATED_KM_PER_DAY=

BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=