# Seeds
SEED_ADMIN_EMAIL=admin@platform.com
SEED_ADMIN_PASSWORD=12345678

FRONTEND_URL=http://localhost:5173

# Supabase credentials (used by Supabase Client for file storage)
SUPABASE_URL=
SUPABASE_KEY=

# Local PostgreSQL database for Prisma (ACTIVE)
DATABASE_URL="postgresql://[userName]:[password]@localhost:[port]/[db_name]"


JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=15d

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_YEARLY_PRICE_ID=

# Redis (used by CurrencyModule for exchange rate caching)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Logistics Provider
OPEN_ROUTE_SERVICE_API_KEY==

# Currency converter Provider
CURRENCY_CONVERTER_API_KEY=

# Email Provider
EMAIL_SERVICE_API_KEY=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=

# SMS Provider
SMS_SERVICE_API_KEY=
SMS_ORIGINATOR=
