fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
bcrypt
pytest
email-validator
python-multipart
stripe==15.3.0
sendgrid
twilio
alembic
requests
bcrypt==4.0.1
pytest-asyncio
redis